h1 {
  margin-top: 1em !important;
  text-align: center;
}
button {
  width:120px;
  height:30px;
  position:relative;
}
.number {
  text-align: center;
  margin:auto;
  width: 244px;
  height: 28%;
  background-color: #ffd9f8;
  border-top: 5px dotted #82174d;
  font-size:1.5rem;
}
.loader,
.loader:before,
.loader:after {
  background: #f56f79;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 0.4rem;
  height: 4em;
}
.loader {
  color: #f56f79;
  margin: 2px auto;
  font-size: 0.2rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 2em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 3em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 2em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 3em;
  }
}

#x {
  max-width:244px;
  margin: 0 auto;
}